.gallery {
    list-style: none;
    padding: 24px 156px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    flex-basis: calc((100% - 48px) /3);
}

.gallery-image {
    display: block;
    width: 100%;
height: auto;
object-fit: cover;
/* transition: transform 0.3s ease;
cursor: pointer; */
}

.gallery-image:hover {
transform: scale(1.03);
cursor: zoom-in;
transition: transform 0.3s ease;
}